body {
  font-family: sans-serif;
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 20px;
}

#parfait-area {
  position: relative;
  width: 400px;
  height: 500px;
  
 /* border: 2px dashed #ccc;*/
}

#parfait-base {
  width: 100%;
  height: 100%;
}
.border_toppings{
    border: 2px solid #0f0f0f;
    border-radius: 8px; 
    background: white;
    margin-top: 10px;
}
.topping {
  width: 100px;
  height: 100px;
  cursor: grab;
  margin: 5px;
  object-fit: contain;
  
}

.draggable {
  position: absolute;
  cursor: grab;
  
}
#resetBtn {
  margin-top: 15px;
  margin-right: 15px;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #ef476f;
  color: white;
}

#resetBtn:hover {
  opacity: 0.85;
}
#undoBtn {
  margin-top: 15px;
  margin-right: 15px;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #ffd166;
}

#undoBtn:hover {
  opacity: 0.85;
}

#rotateSlider {
  width: 200px;
  cursor: pointer;
}
#sizeSlider {
  width: 200px;
  cursor: pointer;
}
